<!-- <h1 *ngFor="let a of numbers">Welcome {{a}}</h1> -->
<!-- <h2 *ngIf="c%2==0 then thenBlock else elseBlock">If statement</h2>
<ng-template #thenBlock><h2>odd</h2></ng-template>
<ng-template #elseBlock><h2>else statement</h2></ng-template> -->
<!-- <app-login></app-login>
<app-test></app-test>
<h1>Company's Table</h1>
<table [ngStyle]="{'width':'100%','border':'3px solid black'}" >
    <tr>
        <th [ngStyle]="{'width':'40%','border':'3px solid black'}">Company</th>
        <th [ngStyle]="{'width':'30%','border':'3px solid black'}">Contact</th>
        <th [ngStyle]="{'width':'30%','border':'3px solid black'}">Country</th>
    </tr>
    <tr *ngFor="let e of arr">
        <td [ngStyle]="{'width':'40%','border':'3px solid black'}">{{e.Company}}</td>
        <td [ngStyle]="{'width':'40%','border':'3px solid black'}">{{e.Contact}}</td>
        <td [ngStyle]="{'width':'40%','border':'3px solid black'}">{{e.Country}}</td>

    </tr>
</table> -->
<!-- <div class="navbar">
    <a href="" routerLink="/home">Home</a>
    <a href="" routerLink="/about">About</a>
    <a href="" routerLink="/contact">Contact</a>
    <a href="" routerLink="/help">Help</a>
</div> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <form action="" #logIn="ngForm" (ngSubmit)="signUp(logIn.value)">
    <input type="text" placeholder="First name" ngModule>
    <input type="password" placeholder="password" ngModule>
    <button>Submit</button> -->
<!-- </form> -->
<app-footer></app-footer>