<!-- <h1 *ngFor="let a of numbers">Welcome {{a}}</h1> -->
<!-- <h2 *ngIf="c%2==0 then thenBlock else elseBlock">If statement</h2>
<ng-template #thenBlock><h2>odd</h2></ng-template>
<ng-template #elseBlock><h2>else statement</h2></ng-template> -->
<!-- <app-login></app-login>
<app-test></app-test>
<h1>Company's Table</h1>
<table [ngStyle]="{'width':'100%','border':'3px solid black'}" >
    <tr>
        <th [ngStyle]="{'width':'40%','border':'3px solid black'}">Company</th>
        <th [ngStyle]="{'width':'30%','border':'3px solid black'}">Contact</th>
        <th [ngStyle]="{'width':'30%','border':'3px solid black'}">Country</th>
    </tr>
    <tr *ngFor="let e of arr">
        <td [ngStyle]="{'width':'40%','border':'3px solid black'}">{{e.Company}}</td>
        <td [ngStyle]="{'width':'40%','border':'3px solid black'}">{{e.Contact}}</td>
        <td [ngStyle]="{'width':'40%','border':'3px solid black'}">{{e.Country}}</td>

    </tr>
</table> -->
<!-- <div class="navbar">
    <a href="" routerLink="/home">Home</a>
    <a href="" routerLink="/about">About</a>
    <a href="" routerLink="/contact">Contact</a>
    <a href="" routerLink="/help">Help</a>
</div> -->
<!-- <form action="" #login="ngForm" (ngSubmit)="signup(login)">
    <input type="text" placeholder="First Name" name="fname" ngModel minlength="5" #name="ngModel">
    <br>
    <small *ngIf="name.invalid">Please Enter valid Name</small>
    <br>
    <input type="password" placeholder="password" name="pass" ngModel>
    <br>
    <br>
    <button type="submit">Submit</button>
</form> -->
<app-templet></app-templet>
<!-- <app-reactive></app-reactive> -->
<!-- <div class="container">
    <div class="box-txt"></div>
    <div class="btn-box">
    <div class="big-btn"><button type="submit">Try it free for 7 days</button></div>
    <div class="box">
        <div class="input-box" #logIn="ngForm" (ngSubmit)="signup(logIn.value)">
        <form action="">
        <input type="text" placeholder="First Name" name="" ngModel>
        <input type="text" placeholder="Last Name" name="">
        <input type="email" placeholder="Email" name="">
        <input type="password" placeholder="password" name="">
        <button type="submit" id="btn">Claim Your Free Trail</button>
    </form>
        </div>
    </div>
    </div>
</div> -->